


<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">Register </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Register</li>
            </ol>
        </nav>
    </div>
  </div>
  <div class="container ">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6 wow fadeInUp login" data-wow-delay="0.1s">
          
        <form (ngSubmit)="register()">
            <div class="row g-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Your Name" [(ngModel)]="name" name="name">
                    <label for="name">Your Name</label>
                </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="email" class="form-control" placeholder="Your Name" [(ngModel)]="email" name="email">
                  <label for="email">Your Name</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="password" class="form-control" placeholder="Your Password" [(ngModel)]="password" name="password">
                  <label for="password">Your Password</label>
                </div>
              </div>
              <!-- ... -->
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">register Now</button>
                </div>
                <div class="col-md-6">
                  <a class="" [routerLink]="['/login']" class="">if you have account?</a>&nbsp;&nbsp;
                </div>
            </div>
          </form>
            
            
      </div>
      
    </div>
  </div>
  <br>