
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <br>
        <div class="col-md-6 ">
            <div class="product-box">
                <div class="product-box-image">
                  <img src="assets/img/{{product.img}}" id="main-image">
                </div>
              </div>
          
        </div>

        <div class="col-md-6 product-bg">
            <b>
                <h1>Name: {{ product.name }}</h1>
            </b>
            
 
           
            <div class="price">
                
                <p>Price: {{ product.price }}</p>
            </div>
            <div class="store-overlay">
                <div class="row">
                    <div class="col-md-3">
                        <input class="inputprod" type="number" value="1">
                    </div>
                    <div class="col-md-9">
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart 
                            <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
                
            </div>
            




        </div>

    </div>
    <br>
</div>